SECRET_KEY = "CHANGE-ME"

DEBUG = "1"

ALLOWED_HOSTS = "127.0.0.1, localhost"

DB_ENGINE = "django.db.backends.postgresql"
POSTGRES_DB = "CHANGE-ME"
POSTGRES_USER = "CHANGE-ME"
POSTGRES_PASSWORD = "CHANGE-ME"
POSTGRES_HOST = "localhost"
POSTGRES_PORT = "5432"